footer
  row centered=''
    column cols='8'
      a href='/urls' List used urls
      span.spacer
      a href='/admin' Manage urls
      span.spacer
      a href='http://portfolio.danielherzog.es' target='_blank' About me
      span.spacer
      a href='https://gitlab.com/wikiti-random-stuff/url-shortener' target='_blank' Source code
