html, body {
  height:100%;
  width: 100%;

  body {
    display: table;
  }
}

footer {
  background-color: rgb(226, 226, 226);
  padding-top: 10px;
  padding-bottom: 1px;
  text-align: center;

  display: table-row;
  height: 1px;

  row {
    margin: 10px;
  }

  span.spacer {
    margin: auto 10px;
    color: rgb(0, 0, 0);

    &:after {
      content: '|';
    }
  }

  a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
}

header {
  text-align: center;
  padding: 30px 20px;

  background-color: rgb(42, 125, 194);

  img {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 80px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  h1 {
    color: rgb(255, 255, 255) !important;

    &.title {
      font-size: 6rem;
    }

    &.subtitle {
      font-size: 2.5rem;
    }
  }
}

div.post {
  text-align: center;
  padding: 30px 10px;

  input[type=text] {
    width: 100%;
  }

  p {
    font-size: 1.6rem;
  }
}

.fixed-col-10 {
  width: 10px;

  @media (max-width: 768px) {
    display: none;
  }
}

ul.errors {
  display: inline-block;
  color: rgb(209, 17, 73);
  text-align: left;
}

span.success {
  font-size: 120%;
}

div.urls {
  padding: 20px;
}
