header
  row centered=''
    column cols='4'
      img src='img/favicon-white.png'

  row centered=''
    column cols='4'
      h1.title URL shortener

  row centered=''
    column cols='8'
      h1.subtitle Shorten your urls quickly and easy with this web-app!
