.post
  form method='POST'
    row centered=''
      column cols='12'
        p Want to create your own shortcuts? Use this form!
        
        ul.errors
        span.success 
          ' Successfully created! You can now use your shortcut with this url: 
          a href=""
    
    row centered=''
      column cols='2'
        input type='text' name='name' placeholder='Write your alias here'
      column.fixed-col-10
        i.fa.fa-arrow-right
      column cols='2'
        input type='text' name='url' placeholder='Write your target url here'
    
    row centered=''
      column cols='4'
        button type='primary'
          i.fa.fa-circle-o-notch.fa-spin
          |  Short it!

script src="js/form.js"
