doctype html
html
  head
    meta charset="UTF-8"
    meta name="viewport" content="width=device-width, initial-scale=1"
    meta name="theme-color" content="#2a7dc2"
    title URL shortener
    link rel="shortcut icon" type="image/png" href="/img/favicon.png"

    link rel="stylesheet" href="/css/kube.min.css"
    link rel="stylesheet" href="/css/font-awesome.min.css"
    link rel="stylesheet" href="/css/global.css"
    script src="js/jquery-1.12.2.min.js"

  body
    == slim :header
    == yield
    == slim :footer
