- should_show_actions = actions rescue false

.urls
  row centered=''
    column cols='6'
      - if @urls.empty?
        p.text-centered No content.
      - else
        table.table
          tr
            th ID
            th Name
            th URL
            - if should_show_actions
              th Actions
          - @urls.each do |url|
            tr
              td = url.id
              td = url.name
              td = url.url
              - if should_show_actions
                td
                  a.btn small='' href="/admin/#{url.id}/delete" Delete
